.watch-container{
    min-height: 100vh;
}
.clock span{
    font-size: 90px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    font-size: 16px;
    position:absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

/* medium device responsive */
@media screen and (min-width: 610px) {
    .clock span{
        font-size: 190px;
    }
}
/* large device responsive */
@media screen and (min-width: 1200px) {
    .clock span{
        font-size: 350px;
    }
}